html, body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins' !important;
    height: 100%;
    width: 100%;
    
}

div{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins' !important;
  
  
}

.container-fluid {
    background: linear-gradient(-108deg, #7096FF 50%, #fff 50%) !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins' !important;
    height: 100% !important;
    width: 100% !important;
}

.row {
  height: 100% !important;
  width: 100% !important;
}

.back{
    background-color: bisque;
}

.elm {
    padding: 1rem; 
  }

 
  .titl {
    color: #101010;
    font-weight: 700 !important;
    margin-left: 5% !important;
    margin-top: 20px !important;
    font-size: 29px;
line-height: 44px;
letter-spacing: 0.03em;
display: block;
  }

  .titl span {
    color: #7096FF;
   
  }

  .hello {
    color: #7096FF; font-weight: 400;
                font-size: 40px;
                line-height: 115.5%;
  }

  .find {
    color: #2E2E2E; font-weight: 600;
                font-size: 80px;
                line-height: 96%;
  }
  

  .desc {
    font-weight: 500;
                font-size: 22px;
                line-height: 33px;
                text-align: justify;
                
                color: #BABABA;
  }

  .get {
    background: #7096FF;
border-radius: 10px;
width: 155px !important;
border: none;
color: #FFFFFF;

margin-top: 40px;
height: 50px;
border: 4px solid #9eb8ff;
cursor: pointer;
-webkit-transition: background-color .3s, border-color .3s ease-out;
    transition: background-color .3s, border-color .3s ease-out;
}
  

.get:hover {
    background-color: #52505e;
    border-color: #b0b0c0;
  }

  .log {
    color: white;
    border: none;
    border-radius: 88px;
    background-color: #7096FF;
    height: 35px;
    width: 115px;
  }

  .sign {
    color: #7096FF;
    border: none;
    border-radius: 88px;
    background-color: white;
    height: 35px;
    width: 115px;
    transition: 0.5s;
  }

  .soc {
    height: 450px;
    border: 1px solid #7096FF;
    border-radius: 88px;
    width: 60px;
    transition: 0.5s;
  }

  .ic {
    font-size:  35px !important; color: #BABABA;
    cursor: pointer;
  }

  .ic:hover {
    color: #7096FF;
    transition: 0.5s;
  }

  .sign:hover {
    background-color: #7096FF;
    color: white;
    transition: 0.3s;
  }
  
  .log:hover {
    background-color: white;
    color: #7096FF;
    transition: 0.3s;
  }

  